* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* position: relative; */
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: neue-haas-grotesk-display, sans-serif;
}

/* nav */
nav {
    width: 100%;
    height: 50px;
    padding: 0px 100px;
    position: fixed;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: black;
    z-index: 1000;
}

nav>h1,
.menu,
button {
    z-index: 3;
}

.nav-logo {
    font-weight: 800;
}

.menu>ul {
    font-size: smaller;
    list-style: none;
    gap: 20px;
    display: flex;
}

#nav-button {
    display: flex;
    /* width: 90px; */
    padding: 10px 15px;
    text-transform: uppercase;
    justify-content: space-between;
    color: white;
    border-radius: 50px;
    border: none;
    background-color: green;

}

#nav-button>svg {
    margin-left: 10px;
    height: 16px;
}

#nav-dropdown {
    position: absolute;
    width: 84%;
    left: 0;
    bottom: 0;
    height: 0px;
    margin: 0px 100px;
    border-bottom: 1px solid white;
    transition: all ease 0.6s;
    display: flex;
    gap: 20px;
    padding-left: 330px;
    overflow: hidden;
}

nav:hover #nav-dropdown {
    height: 150px;
    bottom: -150px;
    background-color: black;
    /* padding: 20px 100px; */
}

.dropdown-bottom>h5 {
    margin-bottom: 10px;
}

.dropdown-bottom>p {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 100;
}

#main {
    display: block;
    width: 100%;
    color: white;
    background: black;
}

/* page1 */
#page1-container{
    background-color: white;
    width: 100%;
    height: 100vh;
}
#page1 {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#page1>h1 {
    font-size: 4.3rem;
    line-height: 4.6rem;
    font-weight: bolder;
}

.page1-para {
    margin-top: 20px;
    width: 40%;
    text-align: center;
}

.page1-button {
    align-items: center;
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.164);
    line-height: 2;
    padding: 3px 10px;
    color: rgb(0, 184, 0);
    border-radius: 50px;

}

/* page2 */

#page2 {
    margin: auto;
    width: 84%;
    height: 100vh;
    background: black;
    padding: 20px 0px;
    display: flex;
    border-top: 1px solid #dadada69;
    justify-content: space-between;
}

.page2-left {
    /* background-color: gray; */
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#exclusive-insight {
    width: 50%;
    margin-top: 20px;
    font-size: small;
}

#page2-left-bottom {
    width: 90%;
}

.page2-right {
    width: 50%;
    height: 450px;
}

.right-element {
    padding-top: 25px;
    padding-bottom: 50px;
    border-top: 1px solid grey;
    display: flex;
}

.right-element>div {
    display: flex;
    color: #dadada69;
}

.right-element>h2 {
    width: 80%;
    font-size: 1.3rem;
}

.right-element>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}

/* page3 */
#page3 {
    width: 100%;
    height: 100vh;
    padding: 30px 100px;
    position: relative;
}

#page3>.video1 {
    width: 100%;
    height: 90vh;
    border-radius: 20px;
    object-fit: cover;
    /* position: relative; */
    border: 1px solid white;
}

.play-icon {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color:rgb(12,163,79);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
    opacity: 0;
}

.play-icon>div {
    height: 80px;
    width: 80px;
    align-items: flex-end;
    display: flex;
}
.play-icon>div>p{
    width: 100%;
}
.play-icon>i {
    margin-bottom: 60px;
    font-size: 2rem;
}

/* page4 */

#page4{
    padding: 30px 100px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.page4-left{
    width: 26%;
    height: 400px;
    border-top: 1px solid #dadada69;
    display: flex;
    flex-direction: column;
}
.page4-right{
    width: 70%;
    /* height: 400px; */
    /* padding: 15px 0px; */
    /* background-color: gray; */
}
.page4-left>h1{
    margin-bottom: 40px;
    font-size: 3rem;
}
.page4-left>p{
    margin-bottom: 30px;
    width: 100%;
}
.page4-left>button{
    padding: 18px;
    border-radius: 40px;
    border:none;
    font-size: smaller;
    /* font-weight: bold; */
    text-transform: uppercase;
    background-color: rgb(79,91,255);
    color: white;
}
.page4-left>button i{
    font-size: large;
    margin-left: 5px;
    font-weight: 600;
}
.page-subheading{
    display: flex;
    justify-content: space-between;
}
.page-subheading p {
    font-size: 13px;
    margin-bottom: 10px;
    width: 90%;
}
.page-subheading i{
    font-size: xx-large;
    font-weight: 100;
}
.right-top{
    display: flex;
    padding : 10px 0px ;
    border-top: 1px solid #dadada69;
}
.right-top>h2{
    width: 40%;
}
.right-buttons{
    display: flex;
    gap: 2px;
    margin-bottom: 10px;
}
.right-buttons>button{
    background: transparent;
    border-radius: 50px;
    padding: 5px 10px;
    border: 1px solid #dadada69;
    color: white;
}
.right-bottom>{
    position: relative;
}

.right-bottom{
    width: 100%;
    position: relative;
    height: 75vh;
}

.right-bottom>img{
    width: 100%;
    height: 75vh;
    border-radius: 10px;
}
.right-bottom>video{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .3s ease;
}

/* page5 */
#page5{
    margin: auto;
    min-height: 100vh;
    padding: 30px 100px;
}
.page5-container{
    width: 100%;
    padding-top: 50px ;
    border-top: 1px solid #dadada69;
    display: flex;
    justify-content: space-between;
}
.page5-left{
    width: 22%;
    /* background-color: gray; */
    display: flex;
}
.page5-left>button{
    width: 100%;
    background-color: rgb(12,163,79);
    color: white;
    padding: 17px 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    font-size: small;
    position: sticky;
    top: 15%;

}
.page5-right{
    width: 72%;
    /* background-color: gray; */

}
.right-span{
    width: 150px;
    position: relative;
    display: inline-block;
    height: 20px;
    font-size: small;
    font-weight: 100;
}
.page5-right-heading{
    font-weight: 100;
    margin-bottom: 70px;
}
.ui-ux{
    padding-top: 20px;
    border-top:2px solid white ;
}
.ui-ux-heading{
    margin-bottom: 40px;
}
.ui-ux-button{
    margin: 0px;
    border: 1px solid #dadada69;
    background: transparent;
    color: white;
    border-radius: 20px;
    padding: 5px;
}
.button-container{
    /* gap: 0; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.services-items-container{
    border-top: 1px solid #dadada69;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 50px 0px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
}
.services-items-container:hover h2{
    padding-left: 20px;
}
.services-items-container:hover i{
    padding-right: 20px;
}
.services-items-container>h2{
    width: 30%;
    font-size: larger;
    font-weight: 100;
    transition: all ease 0.3s;
}
.services-items-container>div{
    width: 70% ;
}
.services-item-right{
    display: flex;
    justify-content: space-between;
}
.services-item-right>p{
    font-size: small;
    width: 75%;
}
.services-item-right>i{
    font-size:large ;
    transition: all ease 0.3s;
}
.services-items-container>.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.252);
    top: -200px;
    transition: all ease 0.3s;
    left: 0;
}
.services-items-container:hover>.overlay{
    top: 0;
}
summary::marker{
    content: "";
}

/* page6 */
#page6{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    padding: 50px 100px 0px 100px;
}
.page6-container{
    display: flex;
    justify-content: space-between;
}
.page6-left{
width: 25%;
display: flex;
align-items: center;
}
.page6-right{
width: 70%;
}
.page6-left>button{
    width: 100%;
    background-color: rgb(79,91,255);
    color: white;
    padding: 17px 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    font-size: small;
    position: sticky;
    top: 15%;
}
.page6-right>h1{
    font-size: 5rem;
    letter-spacing: -3px;
    margin-bottom: 60px;
}
.page6-right>p{
    margin-bottom: 60px;
    padding-right:160px ;
    font-size: larger;
}
.page6-bottom{
    height: 60vh;
    width: 100%;
    border-top: 1px solid #bababa;
    display: flex;
}
.page6-bottom-1{
    width: 25%;
    border: none;
}
.page6-bottom-2{
    width: 25%;
}
.page6-bottom-3{
    width: 15%;
}
.page6-bottom-4{
    width: 20%;
}
.page6-bottom-5{
    width: 15%;
}
.page6-bottom>div{
    height: 300px;
}
.page6-bottom-section>h5{
    font-weight: 100;
    margin:15px 0px  40px 0px;
}
.page6-bottom-section>p>span{
    display: flex;
    display: inline-block;
    padding: 4px 8px;
    margin: 3px;
    border-radius: 50%;
    background-color: #dadada69;
}
.page6-bottom-section{
    padding: 2px;
    border-left:1px solid #bababa;
}
.page6-bottom-1{
    width: 25%;
    border: none;
}
.page6-bottom-section>p{
    width: 150px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 2px;
    margin: 2px 0px;
    border-radius: 50px;
}
.page6-bottom-2>p{
    width: 180px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 2px;
    margin: 2px 0px;
    border-radius: 50px;
}
.page6-bottom-2>p:nth-child(3){
    transform: translateX(10%);
}
.page6-bottom-2>p:nth-child(4){
    transform: translateX(20%);
}
.page6-bottom-2>p:nth-child(5){
    transform: translateX(30%);
}
.page6-bottom-2>p:nth-child(6){
    transform: translateX(40%);
}
.page6-bottom-2>p:nth-child(7){
    transform: translateX(50%);
}
.page6-bottom-3>p:nth-child(3){
    transform: translateX(10%);
}
.page6-bottom-3>p:nth-child(4){
    transform: translateX(20%);
}
.page6-bottom-4>p:nth-child(3){
    transform: translateX(10%);
}
.page6-bottom-4>p:nth-child(4){
    transform: translateX(20%);
}
.page6-bottom-4>p:nth-child(5){
    transform: translateX(30%);
}



/* page7 */
#page7{
    height: 100vh;
    width: 100%;
    padding: 50px 100px;

}
.page7-container{
    display: flex;
    justify-content: space-between;
}

.page7-left{
    width : 65%;
    height: 400px;
    /* background: gray; */
}
.page7-left>h1{
    font-size: 3.5rem;
    width: 70%;
    line-height: 3.5rem;
    margin-bottom: 60px;
}

.footer-service-container{
    display: flex;
}
.footer-services{
    width: 33.33%;
    /* background-color: black; */
}
.footer-services>h5{
    font-weight: 100;
    width: 40%;
    margin-bottom: 20px;
    color: #dadada69;
}
.footer-services>p{
    font-size: 12px;
    margin: 13px 0px;
}
.our-story{
    margin-bottom: 50px !important;
}
.page7-right{
    width : 34%;
    height: 400px;
    /* background: gray; */
}
.page7-right>h5{
    color: #dadada69;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 10px;
}
.page7-right>span{
    font-size: 10px;
    padding:7px 10px;
    border: 1px solid white;
    font-weight: bold;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 30px;
}
.page7-right>h2{
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 50px;
}
.socials{
    display: flex;
    flex-wrap: wrap;
}
.socials>button{
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 8px ;
    border-radius : 30px
}
